---
import zahtexLogo from "@assets/img/Zahtex.webp";
import zahtexVideo from "@assets/hero-video.webm";
import { Image } from "astro:assets";
---

<section class="hero-wrapper">
  <video src={zahtexVideo} autoplay loop muted playsinline class="hero-video"
  ></video>
  <article
    class="hero-content"
  >
    <picture class="*:w-48 *:sm:w-64">
      <Image src={zahtexLogo} alt="logo" loading="lazy" />
    </picture>
    <h1 class="text-header-fluid text-center font-nunito font-bold">
      Taller de Ensamble y corte de prendas de vestir
    </h1>
    <div class="flex flex-wrap gap-4">
      <a
        class="btn btn-full sm:btn-fit btn-outline before:bg-foreground hover:text-background hover:border-foreground btn-outline-fill-up btn-md"
        href="#servicios">Nuestros Servicios</a
      >
      <a
        class="btn btn-full sm:btn-fit btn-md bg-foreground text-background hover:before:opacity-15
      before:bg-foreground hover:before:animate-ping"
        href="#contacto">Contacto</a
      >
    </div>
  </article>
</section>
