@theme{
      
  --animate-scroll-infinite:infinite-scroll 24s linear infinite;
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% * 6) );
    }
  }
}

@utility pause {
  animation-play-state: paused !important;
}
