---
import servicios from "@/js/servicesImg";
import { Image } from "astro:assets";
---

<section class="grid place-items-center px-2 py-4 sm:p-4" id="servicios">
  <h2 class="text-title text-center font-medium font-nunito">
    Nuestros Servicios
  </h2>
  <ul
    class="card-group-flex gap-y-24 gap-x-12 min-h-dvh py-16 px-0 sm:px-12 *:relative *:h-80 *:w-72 *:sm:size-80 *:shadow-md *:shadow-foreground/25 *:hover:h-72 *:duration-500"
  >
    {
      servicios.map((card) => (
        <li class="card group overflow-visible">
          <picture class="absolute w-64  h-48 top-5 duration-500 *:size-full *:object-cover  px-3 group-hover:-top-25 group-hover:scale-75 group-hover:drop-shadow-md group-hover:drop-shadow-foreground/25  ">
            <Image
              src={card.src}
              alt={card.alt}
              class="rounded-lg"
              loading="lazy"
            />
          </picture>
          <article class="absolute w-full py-0 px-8 text-center top-58 card-body gap-8 h-16 group-hover overflow-hidden duration-500 group-hover:h-64 group-hover:top-20 group-hover:gap-2 ">
            <h3 class="text-subtitle font-bold font-nunito">{card.titulo}</h3>
            <p class="font-merriwather text-body">
             {card.desc}
            </p>
          </article>
        </li>
      ))
    }
  </ul>
</section>
