---
import { Icon } from "astro-icon/components";
---

<section class="px-2 py-4 sm:p-4" id="contacto">
  <h2 class="text-center text-title font-medium font-nunito">Contacto</h2>
  <div class="grid sm:grid-cols-4 gap-4 p-4">
    <div class="col-span-2 flex items-center gap-2">
      <Icon name="location" class="text-5xl" />
      <p class="text-label font-merriwather sm:text-body">
        <span class="text-subtitle font-nunito font-bold">Dirección:</span> Calle 30A #19-57, Manzana O,Casa 14 Barrio Castilla Real I <br><span class="font-light"
        >Giron, Santander</span>
      </p>
    </div>
    <div class="col-span-2 flex justify-center items-center gap-4 flex-wrap sm:flex-nowrap">
      <p class="text-label font-merriwather sm:text-body">Para mas Información puede contactarnos por los siguientes medios:</p>
      <ul class="flex gap-2">
        <li>
          <a href="mailto:ensamblezahtex@gmail.com" aria-label="email" class="*:text-5xl"
            ><Icon name="email"  /></a>
        </li>
        <li><a href="https://api.whatsapp.com/send?phone=3173574416" aria-label="WhatsApp"  class="*:text-5xl"><Icon name="whatsapp"  /></a></li>
      </ul>
    </div>
  </div>
</section>
